* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gilroy';
    font-style: normal;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    overflow: hidden;
}

.iconNav {
    margin: 0px 20px 0px 35px;
    font-size: 24px;
    font-weight: normal;
}

.iconNav span:hover {
    cursor: pointer;
}

.numberTel:hover {
    cursor: pointer;
    color: rgb(241, 85, 37);
}

.blueText {
    color: rgb(56, 191, 242);
}

.orangeText {
    color: rgb(241, 85, 37);
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px auto;
    width: 1160px;
    height: 50px;
    background-color: white;
    border-radius: 25px;
}

.midMenu {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

}

.midMenu p {
    margin: 10px 20px 0px 30px;
}

.midMenu p:hover {
    cursor: pointer;
    color: rgb(241, 85, 37);
}

.numberTel {
    font-size: 16px;
    font-weight: 500;
    margin: 4px 40px 0px 0px;
    align-self: center;
}

.banner {
    width: 100%;
    height: 481px;
    border-radius: 55px;
    position: relative;
    display: flex;
    background-image: url(img/fonswiper.svg);

}

.bannerSlide2 {
    display: flex;
    align-items: center;
}

.bannerText2 {
    margin-top: 55px;

}

.orangeButton2 {
    margin-top: 20px;
}



.bannerSlide3 {
    display: flex;
    align-items: center;
}

.bannerText3 {
    margin-top: 60px;

}

.orangeButton3 {
    margin-top: 15px;
}


.imgProgBanner {
    display: flex;
    align-items: center;
}

.imgFonBannerSmall {
    display: none;
}

.wrapperBannerText {
    flex-grow: 1;
    margin: 60px 35px;
    line-height: 48px;
}

.bannerText {
    font-size: 46px;

}

.callBackP {
    font-size: 16px;
    border-top: 1px solid lightgray;
    width: 365px;
    line-height: 25px;
    margin-top: 20px;
    padding: 20px 0px;
}

.orangeButton {
    font-size: 20px;
    font-weight: normal;
    background-color: rgb(241, 85, 37);
    border-radius: 45px;
    width: 265px;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orangeButton:hover {
    cursor: pointer;
    background-color: rgb(56, 191, 242);

}

.orangeButton p {
    font-size: 16px;
}

.orangeButton img {
    margin-left: 20px;
}

.arrowButton {
    width: 37px;
    height: 37px;
    border-radius: 50px;
    background-color: rgb(241, 85, 37);
    display: flex;
    justify-content: center;
    margin-left: 25px;
    align-self: center;
}

.arrowButton:hover {
    cursor: pointer;
}

.arrowButton img {
    width: 15px;
}

.rightArrowB {
    background-color: white;
    transform: rotate(180deg);
    margin-right: 25px;
}

.swiper {
    width: 100%;
    margin-bottom: 63px;
}

.coachCode {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.coachTitle {
    width: 650px;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    line-height: 47px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.cardCoach {
    background-color: rgb(234, 242, 245);
    width: 270px;
    height: 254px;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.cardCoach p:nth-child(2) {
    padding-top: 20px;
    font-size: 16px;
}

.cardCoach p:nth-child(3) {
    padding-top: 10px;
    font-size: 13px;
}

.cardWrapperCoach {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.textCard {
    padding-top: 20px;
    font-size: 16px;
}

.textCard p:nth-child(2) {
    font-size: 13px;
    padding-top: 10px;
}

.helpAndMethod {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

.help {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 27px;

}

.helpText {
    background-color: rgb(234, 242, 245);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex-grow: 1;
    padding: 55px 0px 0px 105px;
    line-height: 25px;
}

.helpTextTitle {
    font-size: 32px;
    margin-bottom: 25px;
}

.helpTextPar {
    margin-bottom: 15px;
}

.methodTextTitle {
    margin-top: 10px;
}

.gridSec {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 60px;
}

.ColumnBig,
.imgMinCol1,
.imgMinCol2,
.imgMinCol3,
.imgMinCol4 img:hover {
    cursor: pointer;
}

.ColumnBig {
    grid-area: 1 / 1 / 3 / 3;
}

.imgMinCol1 {
    grid-area: 1 / 3 / 2 / 4;
}

.imgMinCol2 {
    grid-area: 1 / 4 / 2 / 5;
}

.imgMinCol3 {
    grid-area: 2 / 3 / 3 / 4;
}

.imgMinCol4 {
    grid-area: 2 / 4 / 3 / 5;
}

.KartaUl {
    border-radius: 45px;
    overflow: hidden;
    margin-bottom: 60px;
    width: 100%;
}

.infoDown {
    width: 100%;
    margin-bottom: 25px;
}

.social {
    display: flex;
    justify-content: space-between;
}

.socialText {
    display: flex;
}

.socialText:hover {
    cursor: pointer;
}

.socialIcon span {
    font-size: 36px;
    font-weight: 500;
}

.socialText p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: rgb(142, 142, 142);
    margin-left: 10px;
}

.socialIconPic {
    margin-top: 37px;
    display: flex;

}

.svgImage {
    margin-right: 16px;
}

.socialIconPic svg:hover path:nth-child(1) {
    cursor: pointer;
    fill: rgba(241, 85, 37, 1);
}

.socialRight {
    display: flex;
    flex-basis: 40%;
    justify-content: space-between;
}

.socialRight ul {
    list-style-type: none;
    margin: 5px 0px 0px 15px;
}

.socialRight li {
    margin-bottom: 25px;
    font-size: 13px;
    font-weight: normal;
}

.socialRight li:hover {
    cursor: pointer;
    color: rgb(241, 85, 37);
}

.mailFone p {
    font-size: 16px;
    margin-bottom: 5px;
}

.mailFone {
    margin: 5px 35px 0px 0px;
}

.mailFone p:hover {
    cursor: pointer;
    color: rgb(241, 85, 37);
}

footer {
    border-top: 1px solid rgba(216, 216, 216, 1);
    width: 100%;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    color: rgba(216, 216, 216, 1);
}

footer p:nth-child(1) {

    flex-basis: 48%;
}

footer p:hover {
    cursor: pointer;
    color: rgb(241, 85, 37);
}

.modal {
    padding: 72px 55px;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 635px;
    height: 942px;
    display: none;
}

#crossModal {
    display: none;
}

.modalTitle {
    margin-bottom: 46px;
    text-align: center;
    font-size: 32px;
    color: rgba(34, 37, 59, 1);
}

.minInp input {
    padding: 28px 30px;
    outline: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.minInp input::placeholder {
    font-size: 16px;
    font-weight: normal;

}

.masInp label,
.minInp label {
    display: block;
    margin: 20px 0px;
}

.masInp textarea {
    padding: 25px 30px;
    outline: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    color: rgba(159, 159, 159, 1);
    height: 120px;
    border: 1px solid lightgray;
    border-radius: 10px;
    resize: none;
    margin-bottom: 15px;
}

.confin:hover {
    cursor: pointer;
    color: rgb(56, 191, 242);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #08080828;
    z-index: 1;
}

#burgerMenu {
    margin-right: 22px;
    display: none;
}

.mobMenu {
    display: none;
}

@media (max-width:320px) {
    .wrapper {
        width: 100%;
        overflow: hidden;
        padding: 16px 13px;
    }

    .navBar {
        width: 100%;
        margin: 10px auto;
        justify-content: flex-start
    }

    .midMenu h2 {
        margin-left: 30px;
    }

    .midMenu p {
        display: none;
    }

    .numberTel {
        margin-right: 25px;
        font-size: 14px;

    }

    #crossModal {
        display: block;
    }

    #burgerMenu {
        display: block;
        margin-left: 5px;
    }

    .bannerText {
        font-size: 24px;
    }

    .banner {
        background: url(./img/fonSwiper.svg) 90% 110% no-repeat #EAF2F5;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;


    }

    .arrowButton {
        display: none;
    }

    .wrapperBannerTextSlide2 {
        margin: 100px 0;
    }

    .imgFonBanner {
        width: 100%;
        padding: 0px 10px 45px 10px;
    }

    .imgFonBanner2 {
        margin-left: 10px;
        padding-bottom: 55px;
    }

    .imgFonBanner3 {
        padding: 0px 10px 80px 10px;

    }

    .bannerText {
        text-align: center;
        line-height: 24px;
    }

    .bannerText2,
    .bannerText3 {
        margin: 0 0;
        margin-bottom: 58px;
    }


    .wrapperBannerText {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .wrapperBannerText3 {
        padding: 0px 10px;
        margin: 75px 0px;
        align-items: center;
        flex-direction: column;
    }

    .orangeButton3 {
        margin-top: 5px;
    }

    .schoolOr {
        display: none;
    }

    .callBackP {
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        margin-top: 15px;
        width: 100%;
    }

    .orangeButton2 {
        margin-top: 0;
    }




    .cardWrapperCoach {
        gap: 5px;
    }

    .cardWrapperCoach {
        width: 100%;

    }

    .coachTitle {
        font-size: 24px;
        width: 100%;
    }

    .cardCoach {
        height: 175px;
        width: 140px;
        border-radius: 25px;
    }

    .cardCoach p:nth-child(2) {
        font-size: 12px;
        padding: 9px 21px 4px 21px;
    }

    .cardCoach p:nth-child(3) {
        font-size: 9px;
        padding-top: 0px;
    }

    .lastCard {
        display: flex;
        width: 100%;
        height: 85px;
        padding: 19px 0px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        align-content: center;
    }

    .lastCard img {
        flex: 25 1 auto
    }

    .lastCard p:nth-child(1) {
        font-size: 12px;
    }

    .lastCard p:last-child {
        font-size: 9px;

    }

    .helpAndMethod img {
        width: 100%;

    }

    .helpTextTitle {
        font-size: 20px;
    }

    .helpText {
        padding: 38px 20px;
    }

    .helpText:nth-child(2) {
        font-size: 12px;
    }

    .methodTextPar {
        font-size: 12px;
    }

    .method {
        flex-direction: column-reverse;
    }

    .gridSec {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

    }

    .gridSec img {
        width: 100%;
    }

    .ColumnBig {

        grid-area: 1 / 1 / 3 / 3;
    }

    .imgMinCol1 {

        grid-area: 3 / 1 / 4 / 2;
    }

    .imgMinCol2 {

        grid-area: 3 / 2 / 4 / 3;
    }

    .imgMinCol3 {

        grid-area: 4 / 1 / 5 / 2;
    }

    .imgMinCol4 {

        grid-area: 4 / 2 / 5 / 3;
    }

    .KartaUl {
        width: 100%;
    }

    .social {
        flex-direction: column;
        align-items: center;
    }

    .socialIconPic {
        margin-top: 23px;
        margin-left: 33px;
    }

    .socialRight {
        flex-direction: column;
        margin-top: 43px;
        text-align: center;
    }

    .mailFone {
        margin-right: 0px;
    }

    footer {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    footer p:first-child {
        margin: 25px 0px 13px 0px;
    }

    footer p:nth-child(2) {
        color: rgba(241, 85, 37, 1);
        margin-bottom: 6px;
    }

    footer p:nth-child(3) {
        color: rgba(241, 85, 37, 1);
        margin-bottom: 27px;
    }

    .mobMenu {
        position: absolute;
        right: 0;
        overflow: hidden;
        transition: 0.4s;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 0;
        background-color: white;
        z-index: 1;

    }

    .mobMenu p:hover {
        color: rgba(241, 85, 37, 1);
    }

    .mobMenu img {
        margin-top: 32px;
        margin-right: 30px;
    }

    .menuInMenu {
        align-self: flex-start;
        padding: 40px 0px 0px 43px;
    }

    .menuInMenu p {
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 15px;

    }

    .modal {
        width: 100%;
        height: 100%;
        font-size: 20px;
        padding: 25px 15px;
    }

    #crossModal {
        float: right;
        padding-right: 10px;
    }

    .modalTitle {
        font-size: 24px;
        margin: 20px 0px 5px 0px;
    }

    .minInp,
    .masInp {
        font-size: 13px;
        padding: 5px 10px;
    }

    .minInp input {
        padding: 5px 15px;
    }

    .minInp label,
    .masInp label {
        margin: 5px 0px;
    }
    .modalButton{
    margin-top:10px;
	}

    #mas {
        height: 50px;
    }

    .minInp input,
    #mas::placeholder {
        font-size: 12px;
        font-weight: normal;
    }

    .masInp textarea {
        padding: 10px;
    }

    .conf {
        font-size: 12px;
        margin-left: 10px;
    }

    .confin {
        height: 50px;
    }
}











@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Regular.woff2') format('woff2'),
        url('Gilroy-Regular.woff') format('woff'),
        url('Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ExtraboldItalic.eot');
    src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
        url('Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-ExtraboldItalic.woff2') format('woff2'),
        url('Gilroy-ExtraboldItalic.woff') format('woff'),
        url('Gilroy-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Bold.woff2') format('woff2'),
        url('Gilroy-Bold.woff') format('woff'),
        url('Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
        url('Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Black.woff2') format('woff2'),
        url('Gilroy-Black.woff') format('woff'),
        url('Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Light.woff2') format('woff2'),
        url('Gilroy-Light.woff') format('woff'),
        url('Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.eot');
    src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
        url('Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
        url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Medium.woff2') format('woff2'),
        url('Gilroy-Medium.woff') format('woff'),
        url('Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-MediumItalic.eot');
    src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
        url('Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-MediumItalic.woff2') format('woff2'),
        url('Gilroy-MediumItalic.woff') format('woff'),
        url('Gilroy-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-BlackItalic.eot');
    src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
        url('Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-BlackItalic.woff2') format('woff2'),
        url('Gilroy-BlackItalic.woff') format('woff'),
        url('Gilroy-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-UltraLight.eot');
    src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
        url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-UltraLight.woff2') format('woff2'),
        url('Gilroy-UltraLight.woff') format('woff'),
        url('Gilroy-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-RegularItalic.eot');
    src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-RegularItalic.woff2') format('woff2'),
        url('Gilroy-RegularItalic.woff') format('woff'),
        url('Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-SemiboldItalic.eot');
    src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
        url('Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-SemiboldItalic.woff2') format('woff2'),
        url('Gilroy-SemiboldItalic.woff') format('woff'),
        url('Gilroy-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-HeavyItalic.eot');
    src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
        url('Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-HeavyItalic.woff2') format('woff2'),
        url('Gilroy-HeavyItalic.woff') format('woff'),
        url('Gilroy-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Extrabold.eot');
    src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
        url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Extrabold.woff2') format('woff2'),
        url('Gilroy-Extrabold.woff') format('woff'),
        url('Gilroy-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-BoldItalic.eot');
    src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
        url('Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-BoldItalic.woff2') format('woff2'),
        url('Gilroy-BoldItalic.woff') format('woff'),
        url('Gilroy-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-UltraLightItalic.eot');
    src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
        url('Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-UltraLightItalic.woff2') format('woff2'),
        url('Gilroy-UltraLightItalic.woff') format('woff'),
        url('Gilroy-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-LightItalic.eot');
    src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
        url('Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-LightItalic.woff2') format('woff2'),
        url('Gilroy-LightItalic.woff') format('woff'),
        url('Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Heavy.eot');
    src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
        url('Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Heavy.woff2') format('woff2'),
        url('Gilroy-Heavy.woff') format('woff'),
        url('Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Thin.eot');
    src: local('Gilroy Thin'), local('Gilroy-Thin'),
        url('Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-Thin.woff2') format('woff2'),
        url('Gilroy-Thin.woff') format('woff'),
        url('Gilroy-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-ThinItalic.eot');
    src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
        url('Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Gilroy-ThinItalic.woff2') format('woff2'),
        url('Gilroy-ThinItalic.woff') format('woff'),
        url('Gilroy-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}